@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(../icons/font-awesome/css/font-awesome.min.css);
@import url(../icons/simple-line-icons/css/simple-line-icons.css);
@import url(../icons/weather-icons/css/weather-icons.min.css);
@import url(../icons/cryptocoins/css/cryptocoins.css);
@import url(../icons/cryptocoins/css/cryptocoins-colors.css);
@import url(../icons/linea-icons/linea.css);
@import url(../icons/ionicons/css/ionicons.css);
@import url(../icons/themify-icons/themify-icons.css);
@import url(../icons/flag-icon-css/flag-icon.min.css);
@import url(../icons/material-design-iconic-font/materialdesignicons.min.css);
@import url(../icons/pe-icon-set-weather/css/pe-icon-set-weather.min.css);
@import url(../plugins/animate/animate.min.css);
@import url(../plugins/metismenu/css/metisMenu.min.css);
@import url(../plugins/bootstrap-select/dist/css/bootstrap-select.min.css);

.btn-contact {
    color: #fff;
    font-family: "Poppins";
    background-color: #FD6A00;
    border-color: #FD6A00; }
    .btn-contact:hover {
      color: #fff;
      background-color: #42B549;
      border-color: #42B549; }
    .btn-contact:focus, .btn-contact.focus {
      box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-contact.disabled, .btn-contact:disabled {
      color: #fff;
      background-color: #42B549;
      border-color: #42B549; }
    .btn-contact:not(:disabled):not(.disabled):active, .btn-contact:not(:disabled):not(.disabled).active,
    .show > .btn-contact.dropdown-toggle {
      color: #fff;
      background-color: #36923c;
      border-color: #36923c; }
      .btn-contact:not(:disabled):not(.disabled):active:focus, .btn-contact:not(:disabled):not(.disabled).active:focus,
      .show > .btn-contact.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.btn-login {
    color: #fff;
    font-family: "Poppins";
    background-color: #E77817;
    border-color: #E77817; }
    .btn-login:hover {
        color: #fff;
        background-color: #42B549;
        border-color: #42B549; }
    .btn-login:focus, .btn-login.focus {
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-login.disabled, .btn-login:disabled {
        color: #fff;
        background-color: #42B549;
        border-color: #42B549; }
    .btn-login:not(:disabled):not(.disabled):active, .btn-login:not(:disabled):not(.disabled).active,
    .show > .btn-login.dropdown-toggle {
        color: #fff;
        background-color: #36923c;
        border-color: #36923c; }
        .btn-login:not(:disabled):not(.disabled):active:focus, .btn-login:not(:disabled):not(.disabled).active:focus,
        .show > .btn-login.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.btn-form {
    color: #fff;
    font-family: "Poppins";
    background-color: #42B549;
    border-color: #42B549; }
    .btn-form:hover {
        color: #fff;
        background-color: #E77817;
        border-color: #E77817; }
    .btn-form:focus, .btn-form.focus {
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-form.disabled, .btn-form:disabled {
        color: #fff;
        background-color: #E77817;
        border-color: #E77817; }
    .btn-form:not(:disabled):not(.disabled):active, .btn-form:not(:disabled):not(.disabled).active,
    .show > .btn-form.dropdown-toggle {
        color: #fff;
        background-color: #36923c;
        border-color: #36923c; }
        .btn-form:not(:disabled):not(.disabled):active:focus, .btn-form:not(:disabled):not(.disabled).active:focus,
        .show > .btn-form.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.btn-register {
    color: #fff;
    font-family: "Poppins";
    background-color: #FD6A00;
    border-color: #FD6A00; }
    .btn-register:hover {
        color: #42B549;
        background-color: #fff;
        border-color: #fff; }
    .btn-register:focus, .btn-register.focus {
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-register.disabled, .btn-register:disabled {
        color: #fff;
        background-color: #42B549;
        border-color: #42B549; }
    .btn-register:not(:disabled):not(.disabled):active, .btn-register:not(:disabled):not(.disabled).active,
    .show > .btn-register.dropdown-toggle {
        color: #fff;
        background-color: #36923c;
        border-color: #36923c; }
        .btn-register:not(:disabled):not(.disabled):active:focus, .btn-register:not(:disabled):not(.disabled).active:focus,
        .show > .btn-register.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.btn-outline-form {
    color: #42B549;
    font-family: "Poppins";
    background-color: #fff;
    border-color: #42B549; }
    .btn-outline-form:hover {
        color: #E77817;
        background-color: #fff;
        border-color: #E77817; }
    .btn-outline-form:focus, .btn-outline-form.focus {
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-outline-form.disabled, .btn-outline-form:disabled {
        color: #E77817;
        background-color: #fff;
        border-color: #E77817; }
    .btn-outline-form:not(:disabled):not(.disabled):active, .btn-outline-form:not(:disabled):not(.disabled).active,
    .show > .btn-outline-form.dropdown-toggle {
        color: #36923c;
        background-color: #e2e2e2;
        border-color: #36923c; }
        .btn-outline-form:not(:disabled):not(.disabled):active:focus, .btn-outline-form:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-form.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.btn-join {
    color: #fff;
    font-family: "Poppins";
    background-color: #FD6A00;
    border-color: #FD6A00; }
    .btn-join:hover {
        color: #42B549;
        background-color: #fff;
        border-color: #fff; }
    .btn-join:focus, .btn-join.focus {
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.5); }
    .btn-join.disabled, .btn-join:disabled {
        color: #42B549;
        background-color: #fff;
        border-color: #fff; }
    .btn-join:not(:disabled):not(.disabled):active, .btn-join:not(:disabled):not(.disabled).active,
    .show > .btn-join.dropdown-toggle {
        color: #42B549;
        background-color: #fefefe;
        border-color: #fefefe; }
        .btn-join:not(:disabled):not(.disabled):active:focus, .btn-join:not(:disabled):not(.disabled).active:focus,
        .show > .btn-join.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(37, 255, 102, 0.5); }

.poppins {
    font-family: "Poppins";
}

#join {
    height:790px;
    background:#1FCC79
  }

#alur {
    height:800px;
    background:#FFF
}

#form {
    height:800px;
    background:#1FCC79
  }

#contact {
    height:540px;
    background:#FFF
}

#footer {
    height:240px;
    background:#1FCC79
  }

.footer-login {
    background-color: #fff; }
    .footer-login .copyright {
        padding: 0.9375rem;
        background: white; }
        .footer-login .copyright p {
        text-align: center;
        margin: 0;
        color: #898989; }
        .footer-login .copyright a {
        color: #7571f9; }

.text-green {
    color:#42B549 !important
}

.line {
    border: solid 4px #42B549; 
    border-radius: 4px; 
    width: 50px; 
    background: #42B549;
    display: inline-flex
}

.white-line {
    border: solid 4px #fff; 
    border-radius: 4px; 
    background: #fff;
    width: 50px; 
}

.logo {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-white {
    color: #fff !important; }

.text-site {
    color: #fff !important; }

.text-site:hover {
    color: #FD6A00 !important; }